@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Ubuntu', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(241, 241, 241);
    font-family: var(--font2);
}

h1{
    padding-top: 35vh;
    text-align: center;
    color: white;
    font-size: 5em;
}

p{
    text-align: center;
    padding-top: 150px;
    font-size: 2.4em;
}

header{
    margin: auto;
    min-height: 90vh;
    background-image: url(imagem/guitarra-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, bottom;
}

.body{
    height: 99vh;
    width: 99vw;
    position: relative;
}

.content{
    border-radius: 20px;
    max-height: 520px;
    max-width: 935px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slides{
    display: flex;
    width: 800%;
    max-height: 100%;
}

input{
    
}

.slide img{
    width: 100vh;
}

.slide{
    width: 14%;
    transition: 0.5s;
}

.navgation{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 130px;
    display: flex;
}

.bar{
    margin: 6px;
    padding: 5px 10px;
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    font-weight: bold;
}

.bar:hover{
    color: white;
    background-color: black;
}

#texto{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%);
}

#slide1:checked ~ .content .slides .s1{
    margin-left: 0;
}

#slide2:checked ~ .content .slides .s1{
    margin-left: -14%;
}

#slide3:checked ~ .content .slides .s1{
    margin-left: -28%;
}

#slide4:checked ~ .content .slides .s1{
    margin-left: -42%;
}

#slide5:checked ~ .content .slides .s1{
    margin-left: -56%;
}

#slide6:checked ~ .content .slides .s1{
    margin-left: -70.2%;
}

#slide7:checked ~ .content .slides .s1{
    margin-left: -84%;
}

#slide1:checked ~ .navgation #b1{
    background-color: black;
    color: white;
}

#slide2:checked ~ .navgation #b2{
    background-color: black;
    color: white;
}

#slide3:checked ~ .navgation #b3{
    background-color: black;
    color: white;
}

#slide4:checked ~ .navgation #b4{
    background-color: black;
    color: white;
}

#slide5:checked ~ .navgation #b5{
    background-color: black;
    color: white;
}

#slide6:checked ~ .navgation #b6{
    background-color: black;
    color: white;
}

#slide7:checked ~ .navgation #b7{
    background-color: black;
    color: white;
}